root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = off

[*.rs]
indent_style = space
indent_size = 4

[*.{c,cc,cpp,h,m,mm}]
indent_style = space
indent_size = 2

[*.kt]
indent_style = space
indent_size = 2
max_line_length = 100

[*.swift]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.podspec]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[{CMakeLists.txt,*.cmake}]
indent_style = space
indent_size = 2
