*.iml
.idea
.DS_Store
.packages
.vscode/.DS_Store
.dart_tool/
example/pubspec.lock
pubspec.lock
example/ios/Podfile.lock
build
GeneratedPluginRegistrant.java
example/android/.gradle
example/android/gradle*
WorkspaceSettings.xcsettings
example/.flutter-plugins
example/android/local.properties
android/.gradle
android/.settings
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
example/android/.settings
example/.flutter-plugins-dependencies
example/android/.project/
example/android/app/.classpath
example/ios/Flutter/flutter_export_environment.sh
example/ios/Flutter/Generated.xcconfig
example/ios/Pods/.symlinks
example/ios/Pods/Local Podspecs/
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Runner/GeneratedPluginRegistrant.m
example/ios/Runner.xcworkspace/xcuserdata/
