name: Build

on:
  push:
    branches:
      - main
      - master
      - dev

jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
#        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '2.0.5'
          channel: 'stable'
      - run: flutter packages get
      - run: flutter format lib/ test/ --set-exit-if-changed
      - run: flutter pub run import_sorter:main --no-comments --exit-if-changed
      - run: flutter analyze
      - run: flutter test
      - run: flutter build web
  
